[alias]
    s = status
    c = commit -m
    ac = commit -am
    a = add -A
    d = diff
    ps = push
    pl = pull
    co = checkout
    l = log --graph
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%ae)>%Creset' --abbrev-commit
    b = rev-parse --abbrev-ref HEAD
    cp = cherry-pick
[user]
    email = sarangj@msn.com
    name = Sarang Joshi
[core]
    autocrlf = input
    editor = vim
    safecrlf = false
    filemode = false
[push]
    default = simple
[diff]
    tool = vimdiff
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
